<div class="restaurant_details">

  <% if user_signed_in? && !current_user.restaurant.present? %>
    <%= link_to 'Registre seu restaurante', new_restaurant_path%>
  <% end %>

  <% if user_signed_in? && current_user.restaurant.present? %>

    <% current_user.restaurant.menus.each do |menu| %>
      <ul>
        <li>
          <%= link_to "#{menu.name}", menu_path(menu) %>
        </li>
      </ul>
    <% end %>
  <% end %>

</div>